[submodule "src/app/projects/user"]
	path = src/app/projects/user
	url = https://github.com/zencomputersystems/eleave-v3
[submodule "src/app/projects/admin"]
	path = src/app/projects/admin
	url = https://github.com/zencomputersystems/eLeave_admin-V3