<!-- 
<ion-content>
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../assets/icon/signin/sign-in-abstract@2x.png"/>
    <ion-item-group class="bodyStyle">
      <ion-avatar class="loginLogo">
        <img src="../../assets/icon/logo.PNG" />
      </ion-avatar>
      <ion-note class="noteStyle">Welcome back! Please login to your account.</ion-note>
      <ion-note class="noteStyle" style="color: var(--ion-color-danger); display: flex;
        justify-content: center;" *ngIf="errorLogin === true">Error: {{erro
      
      <form class="formStyle" #loginForm="ngForm">
        <ion-item>
          <ion-input type="text" name="emai" required placeholder="Email" [(ngModel)]="userLogin.email"
            #email="ngModel"></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
            Email is required
          </p>
        </ion-text>

        <ion-item class="nopadding">
          <ion-input type="{{type}}" required placeholder="Password" name="password" [(ngModel)]="userLogin.password"
            #password="ngModel"></ion-input>
          <button *ngIf="!showPass" ion-button clear type="button" item-right (click)="showPassword()">
            <ion-icon name="eye"></ion-icon>
          </button>
          <button *ngIf="showPass" ion-button clear type="button" item-right (click)="showPassword()">
            <ion-icon name="eye-off"></ion-icon>
          </button>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
          </p>
        </ion-text>

        <ion-row>
          <ion-item-group>
            <ion-checkbox (ionChange)="rememberMe($event)"></ion-checkbox>
            <ion-label style="cursor: default;">Remember Me</ion-label>
          </ion-item-group>
          <ion-label (click)="redirectToForgetPassword()" style="cursor: pointer;">Forgot Password</ion-label>
        </ion-row>

        <ion-item class="submit-button" lines="none">
          <ion-button fill="clear" type="submit" (click)="onLogin(loginForm)" (keyup.enter)="onLogin(loginForm)">
            Login</ion-button>
        </ion-item>
      </form>
    </ion-item-group>
  </ion-item-group>
</ion-content> -->
<ion-content>
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../assets/icon/signin/sign-in-abstract@2x.png" />
    <ion-item-group class="bodyStyle">
      <ion-avatar class="loginLogo">
        <img src="../../assets/icon/logo.PNG" />
      </ion-avatar>
      <ion-note class="noteStyle">Welcome back! Please login to your account.</ion-note>
      <ion-note class="noteStyle" style="color: #f4f5f8; display: flex;
    justify-content: center;" *ngIf="errorLogin === true">Error: {{errorMsg}}</ion-note>

      <form class="formStyle" #loginForm="ngForm">
        <!-- Email -->
        <ion-item color="transparent" style="color: #f4f5f8;">
          <ion-input type="text" name="email" required placeholder="Email" [(ngModel)]="userLogin.email"
            #email="ngModel"></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
            Email is required
          </p>
        </ion-text>

        <!-- Password -->
        <ion-item color="transparent" style="color:#f4f5f8;">
          <ion-input type="{{type}}" required placeholder="Password" name="password" [(ngModel)]="userLogin.password"
            #password="ngModel"></ion-input>
          <button *ngIf="!showPass" ion-button clear type="button" item-right (click)="showPassword()">
            <ion-icon style="color:#808289;" name="eye"></ion-icon>
          </button>
          <button *ngIf="showPass" ion-button clear type="button" item-right (click)="showPassword()">
            <ion-icon style="color: #808289;" name="eye-off"></ion-icon>
          </button>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
          </p>
        </ion-text>

        <!-- Remember Me -->
        <ion-row>
          <ion-item-group>
            <ion-checkbox (ionChange)="rememberMe($event)"></ion-checkbox>
            <ion-label style="cursor: default;">Remember Me</ion-label>
          </ion-item-group>
          <ion-label (click)="redirectToForgetPassword()" style="cursor: pointer;">Forgot Password</ion-label>
        </ion-row>

        <!-- Submit button -->
        <ion-item lines="none" color="transparent">
          <ion-button fill="clear" type="submit" style="background-color:#f4f5f8;
            color: #43425d;" (click)="onLogin(loginForm)" (keyup.enter)="onLogin(loginForm)">
            <!-- <ion-button fill="clear" type="submit" (click)="onLogin(loginForm)" [routerDirection]="'root'" [routerLink]="homePage"> -->
            Login</ion-button>
        </ion-item>
      </form>
    </ion-item-group>
  </ion-item-group>
</ion-content>